<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CTag</key>
	<string>HwoQEgwAAC2beJRlDQAAAAAYARgAIhUI7YfRnpq31NIREKHPrtO1or/NkAEoAA==</string>
	<key>CalendarPath</key>
	<string>/8214819378/calendars/20D69519-FE1F-4A9D-A251-6053439FAB5A/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#FBBF24FF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>7AB4D231-7965-451F-828A-773B195EBE6C</string>
	<key>Order</key>
	<integer>1</integer>
	<key>OwnerPrincipalPath</key>
	<string>/8214819378/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>8214819378</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SharingStatus</key>
	<string>SharingNotSet</string>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Asia/Singapore</string>
	<key>Title</key>
	<string>Events</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
