<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CTag</key>
	<string>HwoQEgwAAC2MRIdluwABAAEYARgAIhUIkYyt8+G72fUPEIyl9s30v+3OnwEoAA==</string>
	<key>CalendarPath</key>
	<string>/8214819378/calendars/35EE975E-58D6-4402-B599-6F851BCFF77A/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#A3E635FF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>B1A99083-F8A4-42EC-AD5E-3E92F9DA8F1F</string>
	<key>Order</key>
	<integer>4</integer>
	<key>OwnerPrincipalPath</key>
	<string>/8214819378/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>8214819378</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SharingStatus</key>
	<string>SharingNotSet</string>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Asia/Singapore</string>
	<key>Title</key>
	<string>Driving</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
