<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmFilter</key>
	<true/>
	<key>AlarmsDisabled</key>
	<true/>
	<key>AttachmentFilter</key>
	<true/>
	<key>AutoProvisioned</key>
	<true/>
	<key>AutoRefresh</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#ffffff</string>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>InsecureConnectionApproved</key>
	<false/>
	<key>IsSubscription</key>
	<true/>
	<key>Key</key>
	<string>744840A5-4EF4-4772-A540-10C3268AC5BA</string>
	<key>LanguageCode</key>
	<string>en</string>
	<key>LocationCode</key>
	<string>SG</string>
	<key>NeedsRefresh</key>
	<false/>
	<key>Order</key>
	<integer>1</integer>
	<key>RefreshDate</key>
	<date>2022-01-19T07:40:05Z</date>
	<key>RefreshInterval</key>
	<integer>604800</integer>
	<key>ShareDefaultAlarmSettings</key>
	<false/>
	<key>SharingStatus</key>
	<string>SharingNotSet</string>
	<key>SubscriptionTitle</key>
	<string>Holidays in Singapore</string>
	<key>SubscriptionURL</key>
	<string>https://calendars.icloud.com/holidays/sg_en.ics</string>
	<key>TaskContainer</key>
	<false/>
	<key>TaskFilter</key>
	<true/>
	<key>Title</key>
	<string>Holidays in Singapore</string>
	<key>Type</key>
	<string>Subscription</string>
</dict>
</plist>
