<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CTag</key>
	<string>HwoQEgwAAC2MROG4gQAAAAEYARgAIhUIpZit/tWn8Nw5EJyJqr+R76DThAEoAA==</string>
	<key>CalendarPath</key>
	<string>/8214819378/calendars/67F950B1-BC43-455A-9B99-484AE3F2EC18/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#38BDF8FF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>57AEB66A-4430-4953-A767-604C6B99D053</string>
	<key>Order</key>
	<integer>5</integer>
	<key>OwnerPrincipalPath</key>
	<string>/8214819378/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>8214819378</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SharingStatus</key>
	<string>SharingNotSet</string>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Asia/Singapore</string>
	<key>Title</key>
	<string>Canoeing</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
