<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CTag</key>
	<string>HwoQEgwAAC2Lw4trKQABAAAYARgAIhUI343Nr6j//vMvEKjOl/PWt5SVhQEoAA==</string>
	<key>CalendarPath</key>
	<string>/8214819378/calendars/7D723BCE-8390-448E-B638-C6D29DA0F525/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#44A703FF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>B427D1EF-6417-42BD-A6B8-2EFE9C4F4084</string>
	<key>Order</key>
	<integer>2</integer>
	<key>OwnerPrincipalPath</key>
	<string>/8214819378/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>8214819378</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SharingStatus</key>
	<string>SharingNotSet</string>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Asia/Singapore</string>
	<key>Title</key>
	<string>Classes</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
